---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About Time Zone Calculator"
  description="Time Zone Calculator - a simple tool to convert times between time zones. Fast, accurate, and easy to use."
  keywords=""
  canonicalURL="https://timezonecalculator.com/about"
  robots="noindex, follow"
>
  <main class="p-6">
    <div class="max-w-3xl mx-auto text-center">
      <header>
        <h1>
          <i class="material-icons">schedule</i><i class="material-icons"
            >language</i
          ><i class="material-icons">more_time</i><i class="material-icons"
            >public</i
          ><i class="material-icons">update</i><br /><span
            >About Time Zone Calculator</span>
        </h1>
        <br />
        <p>
          Time Zone Calculator is a simple online tool where you can select a
          timezone and a time, and then select one or multiple other time zones.
          The tool will output what the selected time is in those other time
          zones.
        </p>
        <br />
        <p>
          This tool is great for anyone who needs to know what time it is
          somewhere else, or many other places. Great for setting up meetings
          across multiple areas, or just staying in sync.
        </p>
      </header>
      <br/>
      <h2>How to Use Time Zone Calculator:</h2>
      <p>Below are instructions on how to use the time zone calculator tool on this website.</p>
      <br/>
      <ol class="text-left">
        <li>1. Navigate to our homepage at <a href="/" >https://timezonecalculator.com</a>.</li>
        <br/>
        <li>2. Select a "From" time zone.  This is the time zone you want to compare to others.</li>
        <br/>
        <li>3. Select a time for the "From" time zone.</li>
        <br/>
        <li><div>4. Select one or multiple "To" time zones.</div><br/><div>-You can add more time zones by clicking the "Add a Time Zone" button and you can remove time zones by clicking the "Remove Time Zone" button.</div><br/><div>-At least one "To" time zone must remain.</div></li>
      </ol>
      <br />
      <section>
        <h2>Back to Home Page</h2>
        <p>To use this tool, go back to the homepage.</p>
        <br />
        <p>
          <a href="/"
            ><i class="material-icons">undo</i><span
              class="text-xl font-semibold">Back to Home Page</span
            >
          </a>
        </p>
      </section>
    </div>
  </main>
</Layout>

<style></style>
