---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="About Time Zone Calculator"
	description="Time Zone Calculator - a simple tool to convert times between time zones. Fast, accurate, and easy to use."
	keywords=""
	canonicalURL="https://timezonecalculator.com/about"
	robots="noindex, follow"
>
	<main class="p-6">
        <div class="max-w-3xl mx-auto">
            <header>
                <h1 class="text-center"><i class="material-icons">schedule</i><i class="material-icons">language</i><i class="material-icons">more_time</i><i class="material-icons">public</i><i class="material-icons">update</i><br/><span>About Time Zone Calculator</span></h1>
                <br/>
                <p class="text-center">Time Zone Calculator is a simple online tool where you can select a timezone and a time, and then select one or multiple other time zones.  The tool will output what the selected time is in those other time zones.</p>
                <br/>
                <p class="text-center">This tool is great for anyone who needs to know what time it is somewhere else, or many other places.  Great for setting up meetings across multiple areas, or just staying in sync.</p>
                <br/>
                <p class="text-center">To use this tool, go back to the homepage.</p>
                <br/>
                <p class="text-center">
                    <a href="/"><i class="material-icons">undo</i><span class="text-xl font-semibold">Back to Home Page</span></a>
                </p>
              </header>
              <br />
        </div>
	</main>
</Layout>

<style></style>
