---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About Time Zone Calculator"
  description="Time Zone Calculator - a simple tool to convert times between time zones. Fast, accurate, and easy to use."
  keywords=""
  canonicalURL="https://timezonecalculator.app/about"
  robots="index, follow"
>
  <main class="p-6">
    <div class="max-w-3xl mx-auto text-center">
      <header>
        <h1>
          <i class="material-icons">schedule</i><i class="material-icons"
            >language</i
          ><i class="material-icons">more_time</i><i class="material-icons"
            >public</i
          ><i class="material-icons">update</i><br /><span
            >About Time Zone Calculator</span>
        </h1>
        <br />
        <p>
          Time Zone Calculator is a simple online tool where you can select a
          timezone and a time, and then select one or multiple other time zones.
          The tool will output what the selected time is in those other time
          zones.
        </p>
        <br />
        <p>
          This tool is great for anyone who needs to know what time it is
          somewhere else, or in many other places. Great for setting up meetings
          across multiple areas, planning travel, scheduling long-distance phone calls, or just staying in sync.
        </p>
      </header>
      <br/>
      <h2>How to Use Time Zone Calculator:</h2>
      <p>Below are instructions on how to use the time zone calculator tool on this website.</p>
      <br/>
      <ol class="text-left border border-dashed p-6">
        <li>1. Navigate to our homepage at <a href="/" >https://timezonecalculator.app</a>.</li>
        <br/>
        <li>2. Select a "From" time zone.  This is the time zone you want to compare to others.</li>
        <br/>
        <li>3. Select a time for the "From" time zone.</li>
        <br/>
        <li>4. Select one or multiple "To" time zones.</li>
        <br/>
        <li>5. Click the "Calculate Time Zones" button.</li>
        <br/>
        <section class="border-green-600 text-center">
          <p >Once these steps are completed, there will be an output of calculated time zone comparisons.  There will be a new line for every added "To" time zone.</p>
        </section>
      </ol>
      <br />
      <p>Thank you for visiting this website!</p>
      <br/>
      <section>
        <h2>Back to Home Page</h2>
        <p>To use this tool, go back to the homepage.</p>
        <br />
        <p>
          <a href="/"
            ><i class="material-icons">undo</i><span
              class="text-xl font-semibold">Back to Home Page</span
            >
          </a>
        </p>
      </section>
    </div>
  </main>
</Layout>

 <!-- JSON-LD SCHEMA-->
 <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "SoftwareApplication",
    "name": "About Time Zone Calculator",
    "headline": "About Time Zone Calculator",
    "description": "Time Zone Calculator - a simple tool to convert times between time zones. Fast, accurate, and easy to use.",
    "keywords": "time zone calculator, world clock, meeting scheduler, time difference, time zones, global time, time zone tool, schedule across time zones, convert time, time zone calculator",
    "author": { "@type": "Person", "name": "Sean Rooney" },
    "publisher": { "@type": "Person", "name": "Sean Rooney" },
    "datePublished": "2025-04-13T02:00:00+00:00",
    "url": "https://timezonecalculator.app/about",
    "mainEntityOfPage": "https://timezonecalculator.app/about",
    "robots": "index, follow",
    "operatingSystem": "Web-based",
    "applicationCategory": "Utility",
    "softwareVersion": "1.0"
  }
</script>
