---

---

<footer >
    <nav class="p-4 bg-blue-600 text-white flex justify-between">
        <a
          href="/"
          class="!text-white flex items-center"
          title="An online time zone calculator tool"
          ><i class="material-icons">schedule</i><i class="material-icons">language</i
          ><i class="material-icons">more_time</i><i class="material-icons">public</i
          ><i class="material-icons">update</i>&nbsp;<span class="text-xl">Time Zone Calculator</span>
        </a>
        <span>
          <ul class="flex items-center space-x-8">
              <li><a href="/" class="flex items-center space-x-1"><i class="material-icons">schedule</i><span>Home</span></a></li>
              <li><a href="/about" class="flex items-center space-x-1"><i class="material-icons">info</i><span>About</span></a></li>
              <li><a href="/privacy-policy" class="flex items-center space-x-1"><i class="material-icons">article</i><span>Privacy Policy</span></a></li>
          </ul>
        </span>
      </nav>
</footer>
<style>
	
</style>