---

---

<footer >
  <nav class="p-6 bg-blue-600 text-white md:flex items-center justify-between">
    <div class="mb-6 md:mb-0">
      <a
        href="/"
        class="text-white lg:flex items-center"
        title="An online time zone calculator tool"
      >
        <span class="flex items-center hover:!no-underline">
          <i class="material-icons">schedule</i><i class="material-icons"
            >language</i
          ><i class="material-icons">more_time</i><i class="material-icons"
            >public</i
          ><i class="material-icons">update</i>
        </span>
        <span class="hidden lg:inline">&nbsp;</span>
    
        <span class="text-xl">Time Zone Calculator</span>
      </a>
    </div>
    <span>
      <ul class="space-y-6">
        <li>
          <a href="/" class="flex items-center space-x-1"
            ><i class="material-icons">schedule</i><span>Home</span>
          </a>
        </li>
        <li>
          <a href="/about" class="flex items-center space-x-1"
            ><i class="material-icons">info</i><span>About</span>
          </a>
        </li>
        <li>
          <a href="/privacy-policy" class="flex items-center space-x-1"
            ><i class="material-icons">article</i><span>Privacy Policy</span>
          </a>
        </li>
      </ul>
    </span>
  </nav>
  <section>
    <p class=" p-6">
      © <span id="current-year"></span>&nbsp;<span>TimeZoneCalculator.app</span>
    </p>
  </section>
</footer>
<style>
	
</style>
<script is:inline>
  // THIS IS FOR THE COPYRIGHT STATEMENT
  document.getElementById("current-year").innerHTML = new Date().getFullYear();
</script>